language: python

python:
    - "2.7"
    - "3.5"
    - "3.6"
    - "nightly"

install:
    - pip install -r requirements.txt
    - pip install .

script:
    - flake8 img2gb test
    - pytest -v test

