name: "Windows Standalone Build"

on:
  push:
    tags:
      - "v[0-9]+\\.[0-9]+\\.[0-9]+"
      - "v[0-9]+\\.[0-9]+\\.[0-9]+-[0-9]+"
    branches:
      - master

jobs:

  build:

    name: "Build Windows standalone version"
    runs-on: windows-latest

    steps:

      - name: "Checkout the repository"
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: "Build img2gb Windows Standelone Version"
        shell: bash
        run: |
          ./scripts/build-windows.sh

      - name: "Archive Windows Build"
        uses: actions/upload-artifact@v5
        with:
          path: dist/img2gb-*.exe
